body {
	background-color: #f5f5dd;
}

div {
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
}
.first {
	background-color: rgba(0, 0, 0, 1);
}
.second {
	background-color: rgba(0, 0, 0, 0.7);
}
.third {
	background-color: rgba(0, 0, 0, 0.4);
}
.fourth {
	background-color: rgba(0, 0, 0, 0.2);
}
